<div class='studentList'>
  <div class='header'>
    {{pageTitle}}
  </div>
  <div class='student-body'>
    <div class='table-responsive'>
      <table  class="table" w-auto *ngIf = 'studentsData && studentsData.length'>
        <thead>
          <tr>
            <td>Name</td>
            <td>Math</td>
            <td>History</td>
            <td>Science</td>
            <td>English</td>
          </tr>
          <tr>
            <td>
                <input type='text' [(ngModel)]="studentName" />
            </td>
            <td>
                <input type='text'  [(ngModel)]="math"/>
            </td>
            <td>
                <input type='text' [(ngModel)]="history"/>
            </td>
            <td>
                <input type='text' [(ngModel)]="science"/>
            </td>
            <td>
                <input type='text' [(ngModel)]="english"/>
            </td>
            <td>
              <button class = 'btn btn-primary' (click) = 'addStudent()' >Add student</button>
            </td>
          </tr>
          <tr>
            <th>Name</th>
            <th>Math</th>
            <th>History</th>
            <th>Science</th>
            <th>English</th>
            <th>GPA</th>
          </tr>
        </thead> 
        <tbody >
          <ng-container *ngIf="_reload">
          <tr *ngFor='let student of studentsData; let i = index;' 
          [style.background-color]="getColor(i+1)" >
            <td >{{ student.name }}</td>
            <ng-container *ngFor='let subject of subjects;'>
              <td>{{getGrade(student, subject)}}</td>
            </ng-container>
            <td>{{ calculateGPA(i+1) | number:'1.2-2'}}</td>
          </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>