<div class='container'>
  <form #form="ngForm"  name="form" id="form">
  <div class='header'>
    {{pageTitle}}
  </div>
  <br>
  <div class="form-group">
    <div class='table-responsive'>
      <table  class="form" w-auto *ngIf = 'studentsData && studentsData.length'>
        <thead>
          <tr>
            <td>Name</td>
            <td>Math</td>
            <td>History</td>
            <td>Science</td>
            <td>English</td>
          </tr>
          <!-- <h6>{{form.value | json}}</h6>
          <h6>{{form.valid}}</h6>
          <h6>{{form.pristine}}</h6>
          <h6>{{nameField.valid}}</h6> -->
          <tr>
            <td>
                <input id="name" class="form-control" 
                name="name" placeholder="student's Name"
                [(ngModel)]="studentName" 
                required #nameField="ngModel"
                pattern="[a-zA-Z]+"
                >
            </td>
            <td>
                <input class="form-control"  name="Math" placeholder="A,B,C,D or F"  [(ngModel)]="math" pattern="[A-F]" maxlength="1" required/>
            </td>
            <td>
                <input class="form-control"  name="History" placeholder="A,B,C,D or F" [(ngModel)]="history" pattern="[A-F]" maxlength="1" required/>
            </td>
            <td>
                <input class="form-control"  name="Science" placeholder="A,B,C,D or F" [(ngModel)]="science" pattern="[A-F]" maxlength="1" required/>
            </td>
            <td>
                <input class="form-control"  name="English" placeholder="A,B,C,D or F" [(ngModel)]="english" pattern="[A-F]" maxlength="1" required/>
            </td>
            <td>
              <button class = 'btn btn-primary btn-sm' (click) = 'addStudent(form.valid)' >Add student</button>
            </td>
          </tr>
          <tr>
            <th>Name</th>
            <th>Math</th>
            <th>History</th>
            <th>Science</th>
            <th>English</th>
            <th>GPA</th>
          </tr>
        </thead> 
        <tbody >
          <ng-container *ngIf="_reload">
          <tr *ngFor='let student of studentsData; let i = index;' 
          [style.background-color]="getColor(i+1)" >
            <td >{{ student.name }}</td>
            <ng-container *ngFor='let subject of subjects;'>
              <td>{{getGrade(student, subject)}}</td>
            </ng-container>
            <td>{{ calculateGPA(i+1) | number:'1.2-2'}}</td>
          </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</form>
</div>